Tarea1/.ipynb_checkpoints/Tarea 1 parte teorica-checkpoint.ipynb
Tarea1/.ipynb_checkpoints/tarea_practica_1-checkpoint.ipynb
Tarea1/__pycache__/validaciones.cpython-37.pyc
Tarea 2/.ipynb_checkpoints/Parte Teorica, Tarea 2-checkpoint.ipynb
Tarea 2/.ipynb_checkpoints/Numpy y linalg-Tarea_2-Parte_1-checkpoint.ipynb
Tarea 2 p2/.ipynb_checkpoints/Numpy y linalg-Tarea_2-Parte_2-checkpoint.ipynb
